html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    max-width: 1440px;
    background: url("../image/bg-desktop.svg") no-repeat;
    background-size:cover;
    background-color: var(--primary-color);
   
}
.header{
    margin: 59px 0px 104px 80px;
}
.header img{
    max-width: 200px;
}
.hero{
    margin: 0px 85px 27px 80px;
    display: flex;
    flex-direction: row;
}
.hero .mockup{
    margin-right: 60px; 
    max-width: 696px;
}
.hero .presentation-text{
    max-width: 520px;
    margin-top:32px;
}
.hero .presentation-text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 4rem;
    line-height:150%;
    color: var(--secondary-color);
}
.hero .presentation-text p{
    margin-top: 24px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--secondary-color);
}
.hero .presentation-text .btn-register{
    margin-top: 24px;
}
.hero .presentation-text .btn-register a{
    background-color: var(--secondary-color);
    font-family: 'Poppins';
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 13px 63px;
    border-radius: 50px;
    transition: var(--transition-time) ease-in-out;
    line-height: 50px;
}
.hero .presentation-text .btn-register:hover a{
    background-color: var(--primary-btn-hover-color);
    color: var(--secondary-color);
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 27px 80px 45px;
}
.footer .circle a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    font-size: 1.8rem;
    margin: 0px 16px;
    color: var(--secondary-color); 
    transition: var(--transition-time) ease-in-out;   
}
.footer .circle a:hover{
    color: var(--secondary-btn-hover-color);
    border-color: var(--secondary-btn-hover-color);
}