:root{
    --primary-color: #684BB1;
    --secondary-color:#ffff;
    --primary-btn-hover-color:#E880E8;
    --secondary-btn-hover-color: #FF52C1;
    --transition-time:0.5s;
    --max-width-size:1440px;
}